// Header Animations

@keyframes logo-drop {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes compass {
  0%{
    transform: rotate(-360deg) scale(.2);
  }
  33% {
    transform: rotate(90deg);
  }
  66% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#body-inicio #header {
  // .image {
  //   path {
  //     fill: var(--text);
  //   }
  //   transform-origin: center;
  //   animation: logo-drop 1s 0s both;
  // }
  .column--item-1 {
    .image {
      max-width: 13em;
    }
    .image__inner {
      overflow: visible;
    }
  }
  #logo-compass {
    transform-origin: center;
    animation: compass 2s both;
  }
  @mixin show-up($delay) {
    animation: show-up .5s (.5 + .25s * $delay) both;
  }
  #logo-title {     @include show-up(1); }
  #logo-subtitle {  @include show-up(2); }
  .subtitle {       @include show-up(3); }
  .quotes {         @include show-up(4); }
  .buttons {        @include show-up(5); }
  .column--item-2 { @include show-up(6);
    margin-bottom: -10em;
  }
}


.quotes {
  padding-inline: 1.25em;
  width: fit-content;
  margin-inline: auto;
  svg:not(#aux) {
    position: absolute;
    top: unset;
    margin: 0;
  }
  svg:first-child {
    // transform: translateX(-1.25em);
    left: 0;
  }
  svg:last-child {
    // transform: translateX(.25em);
    right: 0;
  }
}