// Header Animations

@keyframes logo-drop {
  0% {
    transform: scale(3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes compass {
  0%{
    transform: rotate(-360deg) scale(.2);
  }
  33% {
    transform: rotate(90deg);
  }
  66% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#body-inicio #header {
  // .image {
  //   path {
  //     fill: var(--text);
  //   }
  //   transform-origin: center;
  //   animation: logo-drop 1s 0s both;
  // }
  .column--item-1 {
    .image {
      max-width: 13em;
    }
    .image__inner {
      overflow: visible;
    }
  }
  #logo-compass {
    transform-origin: center;
    animation: compass 2s both;
  }
  @mixin show-from($delay) {
    animation: show-from .5s (.5 + .25s * $delay) both;
  }
  #logo-title {     @include show-from(1); }
  #logo-subtitle {  @include show-from(2); }
  .subtitle {       @include show-from(3); }
  blockquote {      @include show-from(4); }
  .buttons {        @include show-from(5); }
  .column--item-2 { @include show-from(6);
    margin-bottom: -10em;
  }
}

#quien-soy {
  .image__inner img {
    --mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
  }
  .image {
    margin-bottom: -10em;
  }
}
